{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
<div>
<p>
    Your account is now active! You should receive an e-mail to also activate your
    account with our partner "Expensify" shortly. Expensify allows SoChange to securely import
    your credit card and bank data so it's available to track your SoChange missions and to
    help them succeed.
</p>
<p>
    Now would be a good time to take a moment to check for an e-mail from Expensify and
    to start inserting your credit card and bank data. If you'd rather do so later,
    you can visit our home page <a href="/">here</a>.
</p>
</div>
{% endblock %}


