{% extends "base.html" %}

{% block content %}

<div class="page">
	<div class="column span-3 ui-corner-all profile-left-column">
		<div style="padding: 5px;">
			
			<div class="toolbox">
				<img src="/css/ruby_styles/images/1.jpg" alt="Person" class="ui-corner-all"/>
			</div>

			<div class="ui-widget toolbox">
				<div class="ui-widget-header ui-corner-top">
					<h3>Mission Status</h3>
				</div>
				<div class="ui-widget-content ui-corner-bottom">
					mission status goes here
				</div>
			</div>
			<div class="ui-widget toolbox">
				<div class="ui-widget-header ui-corner-top">
					<h3>Badges</h3>
				</div>
				<div class="ui-widget-content ui-corner-bottom">
					badges goes here
				</div>
			</div>
		</div>

	</div>
	<div class="column span-7">
		<div class="page-content">
			<h1>Adam Fisk</h1>
			<div id="tabs">

				<ul>
					<li><a href="#tab-updates">Updates</a></li>
					<li><a href="#tab-info">Info</a></li>
					<li><a href="#tab-yourstats">Your Stats</a></li>
				</ul>

				<div id="tab-updates">
				
					<div class="addcomment">
						<input type="text"></input>
						<a href="#" class="ui-state-default ui-corner-all ui-priority-primary">Add Update</a>
					</div>
					
				
					
					<table cellpadding="10" cellspacing="10" class="newsfeed">
						<tr>
							<td><img src="/css/ruby_styles/images/1.jpg" style="width: 60px;" class="ui-corner-all"></img></td>
							<td>
								<table cellpadding="0" cellspacing="0">
									<tr>
										<td class="newsfeed-personname">Adam Fisk </td>
									</tr>
									<tr>
										<td class="newsfeed-postdate">
											24 minutes ago | April 15, 2010 | 3:00pm
										</td>
									</tr>
									<tr><td colspan="2" class="newsfeed-post">We just hit our $5,000 goal for local Cambridge businesses!</td></tr>
								</table>
							</td>
						</tr>
						<tr class="even-row">
							<td class="even-row-cell"><img src="/css/ruby_styles/images/2.jpg" style="width: 60px;" class="ui-corner-all"></img></td>
							<td class="even-row-cell">
								<table cellpadding="0" cellspacing="0">
									<tr>
										<td class="newsfeed-personname">Mike Normal</td>

									</tr>
									<tr>
										<td class="newsfeed-postdate">
											1 day ago | April 14, 2010 | 1:34pm
										</td>
									</tr>
									<tr><td colspan="2" class="newsfeed-post">We just hit our goals as well!</td></tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				<div id="tab-info">


				</div>
				<div id="tab-yourstats">
					some stats

				</div>
			</div>
		</div>

	</div>
</div>


<script>
if($) {
	$(document).ready(function(){
		$('#tabs').tabs();
	});
}
</script>

{% endblock content %}
