<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head> 
	<title>SoChange</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta http-equiv="Content-Language" content="en" /> 
	<link href="/css/emailCapture.css" media="screen" rel="stylesheet" type="text/css" /> 
</head> 
<body> 

<div class="main">
	<h1> SoChange</h1>
	<div id="about">
	<p> SoChange is fun way for groups of consumers to discuss the behavior of the companies they buy from and prove that they will reward them for making a positive impact on the world.
	</p>
</div>
	<div style="margin-top:50px;">
		<form method="post" action="http://gleb.mit.edu/sochange/thankyou.php"> 
			<p class="small"> 
			<label for="email" >
				Share your email so we can let you know when you can join!
			</label> 
				<span>
					<div class="emailbox">
						<input type="text" name="email" maxlength="100" id="email"/>
						<input type="submit" value="Submit" class="submitbutton" /> 
					</div>
				</span> 
			</p> 
		</form> 
	</div>
</div> 

</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15945272-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
