<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %} - SoChange</title>

		{% block css %}
    <link rel="stylesheet" href="/css/cupertino/jquery-ui-1.8.custom.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/application.css" type="text/css" media="screen, projection">
    {% endblock css %}


		{% block extra-head %}
		{% endblock extra-head %}

  </head>
  <body id="home">
	<div id="top">
		<div class="container">
			<div id="navbar" class="clear">
				
				<div id="navbar-logo">
						<h1>SoChange</h1>
				</div>
			
				
				<div id="navbar-search">
						<input type="text" name="search">
				</div>
			
				
				<div id="navbar-links">
					<ul id="nav" class="nav">
						<li class="home">Home</li>
						<li class="missions">Missions</li>	
						<li class="changemakers">Change Makers</li>
						<li class="myprofile">Profile</li>
					</ul>
				</div>
				
			
			</div>
		</div>
	</div>
	<div id="bottom">
		<div class="container">
			{% block content %}
			{% endblock content %}
		</div>
	</div>
    
    
        <script src="/js/FusionCharts.js" type="text/javascript"></script> 
        <script src="/js/jquery-1.4.2.min.js" type="text/javascript"></script> 
        <script src="/js/jquery-ui-1.8.custom.min.js" type="text/javascript"></script> 
        <script src="/js/application.js" type="text/javascript"></script>
        
    {% block js %}
    {% endblock js %}
  </body>
</html>
