body {
	/*background-color: #00853E;*/
	background: #FFFFFF url(greenbg.png) repeat-x;
	font-family: 'Lucida Sans Unicode', sans-serif;
	color: white;

}

h1 {
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -3px;
	line-height: 1.2em;
	text-align: center;
}

p {
	font-size: 20px;
	font-weight: bold;
}

#about {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}



p.small{
	font-size: 12px;
}

div.main {
	margin: 0px auto;
	padding-top: 100px;
	width:500px;
	height:600px;
}

div.emailbox {
	margin-top: 20px;
	position: relative;
	right: 0;
}

#email{
	width:400px;
}

	

input.submitbutton { 
	height : 30px;
	float : right; 
	width: 64px;
	display : block; 
	font-size : 12px; 
	cursor : pointer; 
	text-align : center; }

#submitForm {

}



